/*Inserta tabla empresas con datos de la tabla Maestra*/
insert into [LOOPP].[Empresas](
		[razon_social]
		,[cuit]
		,[fecha_creacion]
		,[mail]
		,[direccion_calle]
		,[direccion_nro]
		,[direccion_piso]
		,[direccion_depto]
		,[cod_postal]
		,[id_usuario]
)
select [Espec_Empresa_Razon_Social]
      ,[Espec_Empresa_Cuit]
      ,[Espec_Empresa_Fecha_Creacion]
      ,[Espec_Empresa_Mail]
      ,[Espec_Empresa_Dom_Calle]
      ,[Espec_Empresa_Nro_Calle]
      ,[Espec_Empresa_Piso]
      ,[Espec_Empresa_Depto]
      ,[Espec_Empresa_Cod_Postal]
	  ,1 id_usuario
from [GD2C2018].[gd_esquema].[Maestra]
group by [Espec_Empresa_Razon_Social]
      ,[Espec_Empresa_Cuit]
      ,[Espec_Empresa_Fecha_Creacion]
      ,[Espec_Empresa_Mail]
      ,[Espec_Empresa_Dom_Calle]
      ,[Espec_Empresa_Nro_Calle]
      ,[Espec_Empresa_Piso]
      ,[Espec_Empresa_Depto]
      ,[Espec_Empresa_Cod_Postal];